<footer class="d-flex align-items-center justify-content-center flex-column">
  <div class="footer-social pb-3 d-flex gap-3">
    <a href=""><i class="fa-brands fa-facebook"></i></a>
    <a href=""><i class="fa-brands fa-x-twitter"></i></a>
    <a href=""><i class="fa-brands fa-instagram"></i></a>
  </div>
  <p>
    &copy; <%- new Date().toLocaleDateString().split("/").slice(-1) %> Airbnb,
    Inc.
  </p>
  <div
    class="footer-links d-flex justify-content-center align-items-center gap-2 pt-1"
  >
    <a href="">Privacy</a>
    &middot;
    <a href="">Terms</a>
    &middot;
    <a href="">Company details</a>
  </div>
</footer>
