* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  position: relative;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 0.5rem;
}

img {
  object-fit: cover !important;
}

a {
  color: #222;
  text-decoration: none;
}

p {
  margin: 0;
}

/* ----------- Header -------- */

.nav-link {
  color: #222;
}

.fa-compass {
  font-size: 2rem;
  color: #ff385c;
}

/* ----------- Header -------- */

/* ----------- Footer -------- */

footer {
  height: 7rem;
  background-color: #f7f7f7;
}

.footer-social i {
  font-size: 1.1rem;
}

/* ----------- Footer -------- */

/* ----------- Card ---------- */

.card-img {
  border: none;
}

.card .list-title {
  font-weight: 600;
  color: #000;
  font-size: 0.9rem;
}

.card .list-price {
  font-weight: 500;
  color: #6a6a6a;
  font-size: 0.8rem;
}

.card-img-overlay {
  opacity: 0;
  background-color: #fff;
}

.card-img-overlay:hover {
  opacity: 0.2;
}

/* ----------- Card ---------- */

/* ----------- New Listing --------- */

.add-btn {
  background-color: #ff385c;
  color: #fff;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  line-height: 1.4;
}

.add-btn:hover {
  background-color: #e00b41;
}

/* ----------- New Listing --------- */

/* ----------- Edit Listing --------- */

.edit-btn {
  background-color: #ff385c;
  color: #fff;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  line-height: 1.4;
}

.edit-btn:hover {
  background-color: #e00b41;
}

/* ----------- Edit Listing --------- */

/* -------- read more ------- */

.short-text {
  /* display: -webkit-box; */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: inline-block;
  overflow: hidden;
  height: 3.7rem;
  line-height: 1.2;
  transition: height 0.4s linear;
}

.toggleText {
  color: #999;
  cursor: pointer;
}

.toggleText:hover {
  color: #222;
}

/* -------- read more ------- */

/* ------- review card ----- */

.review-card {
  min-height: 15rem;
  min-height: 14rem;
}

.review-card > .card-body {
  display: flex;
  flex-direction: column;
}

/* ------- review card ----- */

/* ------- Edit form Image --------- */

.image-upload-container > img {
  /* height: 200px; */
  width: 200px;
  height: 8rem;
  border-radius: 1rem;
  cursor: pointer;
}

.show-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.show-image > img {
  max-height: 90svh;
  max-width: 90vw;
}

.full-screen.active {
  display: flex;
  z-index: 1021;
}

.full-screen {
  display: none;
  background-color: #000000b5;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(4px);
}

.close-img {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 2.3rem;
  background-color: #00000082;
  border: none;
  color: #fff;
  border-radius: 50%;
  padding: 0.4rem;
}

/* ------- Edit form Image --------- */

/* --------- map --------- */

#map {
  height: 25rem;
  border-radius: 1rem;
}

#marker {
  background-image: url("https://tse4.mm.bing.net/th/id/OIP.WnK1vJs2BjGqyaFWdwdwiwHaHa?pid=Api&P=0&h=180");
  background-size: cover;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

.maplibregl-popup {
  max-width: 13rem;
  font-size: 0.85rem;
}

.maplibregl-popup-content {
  border-radius: 1rem;
  padding: 1rem 2rem 1rem 1rem;
}

.maplibregl-popup-close-button {
  /* right: 0.5rem;
  top: 0.3rem; */
  padding: 0.2rem 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

/* --------- map --------- */
